img {
    height: 300px;
    width: 250px;
}

/*.aa-prod-view-size a {
    border: 1px solid #ddd;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    margin-right: 8px;
    padding: 5px 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }*/